<!--2.6-->
<!--Check!-->
<div class="card">
<div class="front">Cylinder</div>
<div class="back">A set of lines (rulings) that are all parallel to each other and to a given line passing through a given curve.
<br>
"A surface made by copy-and-pasting a 2D line across the other dimension."
https://openstax.org/apps/archive/20220815.182343/resources/bf04227da4c24a0646d42547ec0fbf60fb2fdf4d
</div>
</div>

<div class="card">
<div class="front">What are the <u>traces</u> of a surface?</div>
<div class="back">The intersections of a 3D surface and a plane parallel to one of the coordinate planes.
<img src="../../media/traces.png">
</div>
</div>

<!--Common Quadric Surfaces-->

ellipsoid equation, ellipsoid traces
ellipsoid, hyperboloid of one sheet, hyperboloid of two sheets, elliptic cone, elliptic paraboloid, hyperbolic paraboloid
1 ellipsoid, 2 hyperboloids, 1 cone, 2 paraboloids

Chop these images into the cards
https://openstax.org/apps/archive/20220815.182343/resources/38c22099d9664ac11cf9d60cb7fc1adfec4b8600
https://openstax.org/apps/archive/20220815.182343/resources/45bca013197ca330454406cc327a08c0eb7de8f4

<!--2.7-->
<div class="card">
<div class="front">Coordinate systems</div>
<div class="back">Rectangular, cylindrical, spherical
https://www.skillsyouneed.com/images/geo/spherical-coordinates.png
</div>

</div>
<div class="card">
<div class="front">Rectangular coordinate system</div>
<div class="back">$(x, y, z)$
https://www.skillsyouneed.com/images/geo/3d-cartesian-coordinates.png
</div>
</div>

<div class="card">
<div class="front">Cylindrical coordinate system</div>
<div class="back">$(r, \theta, z)$
https://www.skillsyouneed.com/images/geo/cylindrical-coordinates.png
</div>
</div>

<div class="card">
<div class="front">Spherical coordinate system</div>
<div class="back">$(\rho, \theta, \varphi)$
https://www.skillsyouneed.com/images/geo/spherical-coordinates.png
</div>
</div>

<!-- Check! -->
<div class="card">
<div class="front">What are the variable restrictions for the coordinate systems</div>
<div class="back">$r \geq 0, \rho \geq 0, 0 \leq \theta \leq 2 \pi, 0 \leq \varphi \leq \pi$</div>
</div>

<div class="card">
<div class="front">Convert cylindrical to rectangular coordinates</div>
<div class="back">
$
\begin{align}
x &= r \cos \theta \\
y &= r \sin \theta \\
z &= z
\end{align}
$
</div>
</div>

<div class="card">
<div class="front">Convert rectangular to cylindrical coordinates</div>
<div class="back">
$
\begin{align}
r &= \sqrt{x^2 + y^2} \\
\theta &= \tan^{-1} \frac{y}{x} \\
z &= z
\end{align}
$
</div>
</div>

<div class="card">
<div class="front">Convert spherical to rectangular coordinates</div>
<div class="back">
$
\begin{align}
x &= \rho \sin \varphi \cos \theta \\
y &= \rho \sin \varphi \sin \theta \\
x &= \rho \cos \varphi
\end{align}
$
</div>
</div>

<div class="card">
<div class="front">Convert rectangular to spherical coordinates</div>
<div class="back">
$
\begin{align}
\rho &= \sqrt{x^2 + y^2 + z^2} \\
\theta &= \tan^{-1} \frac{y}{x} \\
\varphi &= \cos^{-1} \frac{z}{\rho}
\end{align}
$
</div>
</div>

<div class="card">
<div class="front">Convert spherical to cylindrical coordinates</div>
<div class="back">
$
\begin{align}
r &= \rho \sin \varphi \\
\theta &= \theta \\
z &= \rho \cos \varphi
\end{align}
$
</div>
</div>

<div class="card">
<div class="front">Convert cylindrical to spherical coordinates</div>
<div class="back">
$
\begin{align}
\rho &= \sqrt{r^2 + z^2} \\
\theta &= \theta \\
\varphi &= \cos^{-1} \frac{z}{\rho}
\end{align}
$
</div>
</div>
