<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script> <script> MathJax = { tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]}, chtml: { displayAlign: 'left' } }; </script> <script src="../../mathjax/es5/tex-chtml.js" id="MathJax-script" async></script>

<div class="card">
<div class="front">test $1 \lambda x \sqrt{\pi}$</div>
<div class="back">test</div>
</div>

<div class="card">
<div class="front">test2</div>
<div class="back">test2</div>
</div>

