City of Irvine Municipal Code Ordinance number 192: Pedestrians are prohibited from proceeding along a bicycle path or lane where an adjacent adequate pedestrian facility exists.

<div class="card">
<div class="front">What is the name of the law that bans running in bike lanes?</div>
<div class="back">City of Irvine Municipal Code Ordinance number 192</div>
</div>

<div class="card">
<div class="front">City of Irvine Municipal Code Ordinance number 192: ...</div>
<div class="back">... Pedestrians are prohibited from proceeding along a bicycle path or lane ...</div>
</div>

<div class="card">
<div class="front">... Pedestrians are prohibited from proceeding along a bicycle path or lane ...</div>
<div class="back">... where an adjacent adequate pedestrian facility exists.</div>
</div>
