.card {
    display: none;
    border: solid;
    border-radius: 10px;
    /*margin: 0.1cm;*/
    margin-bottom: 0.5cm;
    padding: 0.1cm;
}

img {
    max-width: 10cm;
}

#arena {
    border: dashed blue;
    /*height: 90vh;*/
    padding: 0.25cm;
    margin: 0.5cm;
}

.front {
    display: none;
}

.back {
    display: none;
}

#flip_btn {
    display: none;
}

#good_btn {
    display: none;
}

#bad_btn {
    display: none;
}

#again_btn {
    display: none;
}


#good_pile {
    display: none;
}

#bad_pile {
    display: none;
}

#unseen_pile {
    display: none;
}
