<!--10.1-->
<div class="card" id="fc9cf520a1b44b88a954a4a6c098d1b9">
<div class="front">photosynthesis (basic idea)</div>
<div class="back">turn sunlight into fuel (sugar)</div>
</div>

<div class="card" id="80ac2d154ab9461095262d00784ee0fe">
<div class="front">autotroph</div>
<div class="back">organisms that make their own food, so they don't eat other organisms.</div>
</div>

<div class="card" id="342c4681a15a47e1bc5d3f794b6aaf7a">
<div class="front">heterotroph</div>
<div class="back">organisms that can't make their own food, so they eat other organisms.</div>
</div>

<!--10.2-->

<div class="card" id="3327e0edbeb4496f93717b95cc4d8cc3">
<div class="front">chloroplast</div>
<div class="back">organelle where photosynthesis happens</div>
</div>

<div class="card" id="b4cbef626fb24a8e9c3bde2148f021bc">
<div class="front">mesophyll</div>
<div class="back">plant tissue on leaves, where most chloroplasts are</div>
</div>

<div class="card" id="ab355673f8e0481183e9f812bf8e94e3">
<div class="front">how does CO2 enter and O2 exit leaves?</div>
<div class="back">through holes in plants called stomata
<img src="../../media/ch10_leaf_cross_section.png">
</div>
</div>

<div class="card" id="57725bad19994b7fbad4932ceffc6faa">
<div class="front">stomata</div>
<div class="back">holes in leaves that CO2 goes in and O2 goes out
<img src="../../media/ch10_leaf_cross_section.png">
</div>
</div>

<div class="card" id="13d07e2f8a514b929d313f5320b04a8a">
<div class="front">grana</div>
<div class="back">stacks of thylakoids</div>
</div>

<div class="card" id="4cf0d1569cf64184b462fd6bfb95f21c">
<div class="front">thylakoid</div>
<div class="back">pancake-shaped sacs where photosynthesis' light dependent reactions happen</div>
</div>

<div class="card" id="e4a462cef9c14d9687501e6fe2a7d4d0">
<div class="front">chlorophyll</div>
<div class="back">green pigment in plants</div>
</div>

<div class="card" id="b11b7bdb12ac407484ecb339384878ce">
<div class="front">pigment</div>
<div class="back">molecules that absorb light</div>
</div>

<div class="card" id="cf3570e92a4b44b9982e7404f7c744f1">
<div class="front">where is chlorophyll</div>
<div class="back">thylakoids</div>
</div>

<div class="card" id="09ae3e53c0854365a9e4de7d509bd551">
<div class="front">photosynthesis equation</div>
<div class="back">6 CO2 + 6 H2O + sunlight $\rightarrow$ C6H12O6 + 6O2</div>
</div>

<div class="card" id="d55f5b52442d4f65b236b5ce78e666d2">
<div class="front">relationship between photosynthesis and cellular respiration</div>
<div class="back">the outputs of one are the inputs of the other</div>
</div>

<div class="card" id="395e4639b520463681fcd01240d7575f">
<div class="front">is photosynthesis endergonic or exergonic</div>
<div class="back">endergonic because it requires energy (sunlight)</div>
</div>

<div class="card" id="531819ef344f45b6962b689f0d6165ff">
<div class="front">is photosynthesis anabolic or catabolic</div>
<div class="back">anabolic</div>
</div>

<div class="card" id="b721aa5c7a7044e0a4c4516299fad7f7">
<div class="front">stages of photosynthesis</div>
<div class="back">light dependent reactions, light independent reactions
<img src="../../media/fig10p5.png">
</div>
</div>

light reactions, aka: light dependent reactions
calvin cycle, aka: light independent reactions

<div class="card" id="6a74a73f663d410abe4a7dfee9ab12b8">
<div class="front">light reactions inputs and outputs</div>
<div class="back">light + H2O $\rightarrow$ ATP + NADPH + O2
<img src="../../media/fig10p5.png">
</div>
</div>

<div class="card" id="bcc5126426764059a8c0a04ea18773a0">
<div class="front">calvin cycle inputs and outputs</div>
<div class="back">CO2 + ATP + NADPH $\rightarrow$ G3P <small>+ NADP+ + ADP + P_i</small>
<img src="../../media/fig10p5.png">
</div>
</div>

<div class="card" id="df1c9aed4cf04d78be13827f0d51da45">
<div class="front">photosynthesis: where do electrons for the ETC come from?</div>
<div class="back">H2O
<img src="../../media/fig10p17.png">
</div>
</div>

<div class="card" id="1378e731d44c4c55b7bfb62171d400d0">
<div class="front">electron carrier for photosynthesis</div>
<div class="back">NADP+ $\rightarrow$ NADPH</div>
</div>

<div class="card" id="aadcec61ccd8468083ad680df10a7628">
<div class="front">How does photosynthesis give electrons to NADP+?</div>
<div class="back">Electron from water is given to NADP+ in NADP+ reductace using sunlight from Photosystem I
<img src="../../media/fig10p17.png">
</div>
</div>

<div class="card" id="030567056da748cb88bbec5a9401aa42">
<div class="front">how do the light reactions make ATP?</div>
<div class="back">electrons move from water to NADPH along an ETC, which powers the pumping of H+ from the stroma to the thylakoid space against its concentration gradient, which then diffuses down ATP synthase, rebuilding ATP
<img src="../../media/fig10p17.png">
</div>
</div>

<div class="card" id="e75e879f80b24ca3bfbb5554a382dfb0">
<div class="front">which photosystem gives energy to make ATP?</div>
<div class="back">PSII <img src="../../media/fig10p17.png">
</div>
</div>

<div class="card" id="d5982e3c6ee24930ac155bc0104a1811">
<div class="front">which photosystem gives energy to make NADPH?</div>
<div class="back">PSI <img src="../../media/fig10p17.png">
</div>

<div class="card" id="0847ecbcd34a44a78aa938f29f028b7e">
<div class="front">photophosphorylation</div>
<div class="back">when the light reactions rebuild ATP with chemiosmosis</div>
</div>

<div class="card" id="ae64be584c664c0e9e000b476dcf449b">
<div class="front">relationship between light reactions and calvin cycle</div>
<div class="back">calvin cycle uses ATP and NADPH from light reactions, which rebuilds them
<img src="../../media/fig10p5.png">
</div>
</div>

<div class="card" id="7b34cc7e83af43df96d7ae3559ec9a0e">
<div class="front">why does photosynthesis need H2O?</div>
<div class="back">to get electrons and hydrogen ions for light reactions
<img src="../../media/fig10p17.png">
</div>
</div>

<div class="card" id="51aa2a1418dc4565aa9a670d4c9fa47e">
<div class="front">why does photosynthesis need light?</div>
<div class="back">to give energy to electrons <small>(get them to a higher energy state)</small> so they can flow and give their energy to make ATP and NADPH.
<br>
to get energy to make ATP and NADPH (by getting electrons to a higher energy state)
</div>
</div>

<div class="card" id="29372e0cfcc74b91a8a6c4035e9a1eff">
<div class="front">why does photosynthesis need CO2?</div>
<div class="back">to get carbons to make G3P in calvin cycle
<img src="../../media/fig10p18.png">
</div>
</div>

<div class="card" id="b23056b3f0d545b99d2754db79e4c7c2">
<div class="front">carbon fixation</div>
<div class="back">adding carbon to organic molecules</div>
</div>

<div class="card" id="65ddc909044244aa989ff0313f4d1fb8">
<div class="front">where do the light reactions happen?</div>
<div class="back">thylakoid <img src="../../media/fig10p17.png">
</div>
</div>

<div class="card" id="b1750c3b37044c80845780e7ef15b7e3">
<div class="front">where are photosystems II and I?</div>
<div class="back">thylakoid membrane <img src="../../media/fig10p17.png">
</div>
</div>

<div class="card" id="9c7db7c32af1461f96fd6ae2aa2d3dce">
<div class="front">does the calvin cycle need light?</div>
<div class="back">yes, but not directly. it depends on the light reactions which needs light
<img src="../../media/fig10p5.png">
</div>
</div>

<div class="card" id="e9be239ba0ca4b2aa212be182d7d8714">
<div class="front">why do leaves turn from green to red/orange/yellow?</div>
<div class="back">chlorophyll goes away but caratenoids remain</div>
</div>

<div class="card" id="8762c4baf9744f13939b5a3a2302bdde">
<div class="front">what happens as electrons move across the ETC?</div>
<div class="back">proteins absorb some of the electrons' energy to pump H+ into the thylakoid <img src="../../media/fig10p17.png">
</div>
</div>

<div class="card" id="d855c0c20dbb46a69ad8e6ec0b73197e">
<div class="front">Why do H+ leave the thylakoid?</div>
<div class="back">diffuses from high to low concentration through ATP synthase after being pumped in by the ETC <img src="../../media/fig10p17.png">
</div>
</div>

<div class="card" id="e1981131109c4fb2ad531d3f1fa349b3">
<div class="front">PSII inputs and outputs</div>
<div class="back">H2O, light $\rightarrow$ O2, H+, electrons, ATP <img src="../../media/fig10p17.png">
</div>
</div>


<div class="card" id="39dbe2bf4d1745c7a2748481adfcdb9f">
<div class="front">PSI inputs and outputs</div>
<div class="back">electrons, light $\rightarrow$ (high-energy electrons give energy to make NADPH)
<img src="../../media/fig10p17.png">
</div>
</div>

<div class="card" id="65ddc909044244aa989ff0313f4d1fb8">
<div class="front">where does the calvin cycle happen?</div>
<div class="back">stroma
<img src="../../media/fig10p5.png">
</div>
</div>

<!--10.3-->

<div class="card" id="4fe622ca9c1d4453b54d6a829c7974be">
<div class="front">why are plants green</div>
<div class="back">chlorophyll absorbs all light except green and reflects green</div>
</div>

<div class="card" id="c60c472ffdd64c55b11b502bbdd1f3e4">
<div class="front">how is it beneficial for plants to have many different pigments?</div>
<div class="back">so they can absorb more wavelengths of light (like casting a wide net)
<img src="../../media/fig10p5.png">
</div>
</div>

<div class="card" id="6c1d220c54a348a9a980875d07232ca2">
<div class="front">main pigments for photosynthesis</div>
<div class="back">chlorophyll a, chlorophyll b, carotenoids
<img src="../../media/fig10p5.png">
</div>
</div>

<div class="card" id="1c0bcb9d797a4d20aecdb5aef36c67b0">
<div class="front">what happens when chlorophyll and other pigments absorb light</div>
<div class="back">one of its electrons goes from a normal orbital to an orbital with a higher potential energy
<img src="../../media/fig10p11.png">
<img src="../../media/fig10p12.png">
</div>
</div>

<div class="card" id="672080cf4146428e9a86462dcb272158">
<div class="front">ground state vs excited state of pigments</div>
<div class="back">when a photon hits a pigment, an electron goes from a normal orbital to an orbital with a higher PE
<img src="../../media/fig10p11.png">
</div>
</div>

<div class="card" id="e599c357c1fc493d9e27be2ceb42e7b9">
<div class="front">parts of a photosystem</div>
<div class="back">light harvesting complexes, which give energy from light to the reaction center complex, and the reaction center complex, which moves electrons to a higher orbital
<img src="../../media/fig10p12.png">
</div>
</div>

<div class="card" id="9d06164697534a419212ae6d0891b87b">
<div class="front">photosynthesis: primary electron acceptor of a photosystem</div>
<div class="back">molecule in photosystems that takes an electron from a special pair of chlorophyll a molecules to the ETC (for PSII) or to NADP+ (for PSI)
<img src="../../media/fig10p12.png">
</div>
</div>

<div class="card" id="8e6195ae5779462b899b37dd04493cc3">
<div class="front">what happens in thylakoids?</div>
<div class="back">light reactions</div>
</div>

<div class="card" id="15b4a2d378ce43598d172844aee9c20e">
<div class="front">is the calvin cycle catabolic or anabolic</div>
<div class="back">anabolic, building sugar from CO2's carbon, and using energy (ATP)</div>
</div>

<div class="card" id="c8dd4b53b6fa4d9ca9f4954d23e908fa">
<div class="front">how many turns of the calvin cycle from one glucole molecule?</div>
<div class="back">1 glucose $\rightarrow$ 2 pyruvate $\rightarrow$ 2 acetyl CoA $\rightarrow$ 2 turns of the calvin cycle</div>
</div>

<div class="card" id="4e9201d971f84f8a921def79947476c9">
<div class="front">calvin cycle main inputs and outputs</div>
<div class="back">3 CO2 + 9 ATP + 6 NADPH $\rightarrow$ 1 G3P</div>
</div>

<div class="card" id="92b3095c5eec45acbfa0179abf1df400">
<div class="front">G3P</div>
<div class="back">3 carbon molecule used to make sugars like glucose. main product of photosynthesis
<img src="../../media/fig10p18.png">
</div>
</div>

<div class="card" id="e76d57f1efe5492492e3c7f21d1af29f">
<div class="front">steps of calvin cycle</div>
<div class="back">carbon fixation, reduction, regeneration
<img src="../../media/fig10p18.png">
</div>
</div>

<div class="card" id="6a967a80f73f440ab7facee7294b9c2a">
<div class="front">rubisco</div>
<div class="back">enzyme that catalyzes carbon fixation
<img src="../../media/fig10p18.png">
</div>
</div>

<div class="card" id="76797a968c564c1ca7793194f2883e7d">
<div class="front">calvin cycle: carbon fixation</div>
<div class="back">first phase of calvin cycle: rubisco adds a CO2 molecule to RuBP
<img src="../../media/fig10p18.png">
</div>
</div>

<div class="card" id="b700a0918cc3400faf3e47c84e2c0e95">
<div class="front">calvin cycle: reduction</div>
<div class="back">converts 3PG into G3P by adding electrons from NADPH to it using energy from ATP
<img src="../../media/fig10p18.png">
</div>
</div>

<div class="card" id="facbb6710a574480b53c7c9fb5e849ae">
<div class="front">calvin cycle: regeneration: converts 5/6 G3Ps to RuBP to continue the cycle
<img src="../../media/fig10p18.png">
</div>
<div class="back"></div>
</div>

<div class="card" id="105e5b48ac3a422ca369c46e3230b199">
<div class="front">net G3P from 1 turn of the calvin cycle?</div>
<div class="back">1 G3p
<img src="../../media/fig10p18.png">
</div>
</div>

<div class="card" id="43b122d93911445d8145f72f28c93329">
<div class="front">calvin cycle: carbon fixation formula</div>
<div class="back">RUBP + CO2 $\rightarrow$ 2 3PG</div>
</div>

<div class="card" id="ead0121544e34e35b47996c30bf7ed39">
<div class="front">calvin cycle: reduction formula</div>
<div class="back">3PG + ATP + NADPH $\rightarrow$ G3P</div>
</div>

<div class="card" id="164f6853b64347b3aafd3c8eedded60f">
<div class="front">5 G3P $\rightarrow$ 3 RuBP</div>
<div class="back"></div>
</div>
