<!--gizmo notes-->
genetic - passed from down parents to children
genetic mutation - random change in DNA
trait - an inheritable observable characteristic. An observable characteristic that you can get from your parents
examples of traits - eye color and hair color
phenotype - <small>an organism's phenotype is</small> the versions of <b>visible traits</b> that an organism has
what influences your phenotype - your DNA and environment

what is the function of DNA - store genetic information
what is the structure of DNA - double helix polymer of nucleotides
where is DNA - nucleus
how is DNA organized - packaged into chromosomes
chromosome structure - one long DNA strand with helper proteins to bind it. the DNA strand is made of sections called genes which give instructions for one protein

chromosomes come in pairs, one from mom and dad
most regions of DNA aren't used to make genes

gene - a region of DNA which is the blueprint for a protein
sex chromosomes - one pair of chromosomes that determines your sex
what determines your sex? - sex chromosomes
autosomes - all your chromosomes except the sex chromosomes
sex_chromosomes_autosomes.png
homologous chromosomes - each chromosome <small>(except sex chromosomes)</small> come in pairs, one from mom and one from dad, which have different versions of the same genes.
alleles - gene versions. different versions of the same genes.
// each chromosome has many genes, which code for different traits, and have different versions
different alleles of a gene make different proteins which then make different phenotypes
genotype - the combination of alleles in an organism. the specific permutation of what alleles an organism has. 
what influences which alleles you have / your genotype? what alleles your parents have
genotype + environment = phenotype
genotype vs phenotype - genotype is the code, phenotype is the output
genotype_vs_phenotype.png
two sex chromosomes: X and Y
female sex chromosomes - XX
male sex chromosomes - XY
<!--cell replication-->
somatic cells - non sex cells
how do somatic cells reproduce? - mitosis
mitosis makes 2 identical daughter cells, and the genotype does not change (except for mutations)

only sex cells are haploid, everything else is diploid

<div class="card" id="4367b26a89634149a70b236351636932">
<div class="front">germ cell</div>
<div class="back">(diploid) cell that does meiosis to make (haploid) gametes</div>
</div>

<div class="card" id="dddb4e2859b846b7b1828daa193a08f6">
<div class="front">where are germ cells</div>
<div class="back">gonads</div>
</div>

point mutations happen during interphase / S
chromosomal rearrangement happens during crossing over during prophase I
nodisjunction happens during metaphase I and metaphase II

/*
meiosis process
- meiosis I: split homologous pairs
- meiosis II: split sister chromatids
- everything else is like mitosis
*/

<div class="card" id="5738660e790a472a8c00b0bcf9295ec9">
<div class="front">tetrad</div>
<div class="back">a pair of homologous chromosomes that have replicated their dna. Look like XX not II</div>
</div>

<div class="card" id="cb18e3cb67fb4a25b26b78ece762aaf7">
<div class="front">sources of variation in meiosis</div>
<div class="back">crossing over in Meiosis I / Prophase I, independent assortment in Meiosis I / Metaphase I and Meiosis II / Metaphase II, dna mutations, the random sperm-egg fertilization</div>
</div>

independent assortment in metaphase II isnt as important since the sis ctids are the same unless crossing over
mitosis doesnt have independent assortment because the sis ctids that are split are the same

<div class="card" id="a356c002e878464e9938d66101062d27">
<div class="front">crossing over</div>
<div class="back">homologous chromosomes swap some dna, making more variation</div>
</div>

chiasma - location where inner ctids in tetrad cross over
