endoplasmic reticulum diagram: https://cdn.britannica.com/79/117279-050-3AE0F00F/membrane-system-Endoplasmic-reticulum-cells-biosynthesis-transport.jpg

<div class="card">
<div class="front">What are the two types of cells?</div>
<div class="back">Prokarotic and Eukaryotic</div>
</div>

<div class="card">
<div class="front">What is a prokaryotic cell?</div>
<div class="back">A cell that doesn't have a nucleus.</div>
</div>

<div class="card">
<div class="front">What is a eukaryotic cell?</div>
<div class="back">A cell that does have a nucleus.</div>
</div>

<div class="card">
<div class="front">Where is the DNA of a prokaryotic cell?</div>
<div class="back">The nucleoid, which is a region of the cell that is not enclosed by a membrane</div>
</div>

<div class="card">
<div class="front">What does the nucleus do?</div>
<div class="back">Store DNA</div>
</div>

<div class="card">
<div class="front">What are the <u>parts</u> of the <u>nucleus</u>?</div>
<div class="back">The nuclear envelope, the nucleolus, and chromatin.</div>
</div>

<div class="card">
<div class="front">What is the nuclear envelope?</div>
<div class="back">A <u>double membrane</u> that encloses the nucleus and has proteins that <u>regulate the entry and exit</u> of proteins, RNA, and other macromolecules.</div>
</div>

<div class="card">
<div class="front">How do things enter and exit the nucleus?</div>
<div class="back">They go through the <u>nuclear pores</u>, which are small holes in the nuclear envelope.
<img src="../../media/nuclear_pores.jpeg">
</div>
</div>

<div class="card">
<div class="front">What is a chromosome?</div>
<div class="back">a thread-like structure made of DNA
<img src="../../media/chromosome.jpg">
</div>
</div>

<div class="card">
<div class="front">what are chromosomes made of?</div>
<div class="back">One long DNA molecule and many proteins (that condense it so it maintains its integrity)</div>
</div>

<div class="card">
<div class="front">What is chromatin?</div>
<div class="back">The material (DNA and proteins) that makes up chromosomes.</div>
</div>

<div class="card">
<div class="front">What is the nucleolus?</div>
<div class="back">It is a <u>small dense sphere</u> in the nucleus where <u>rRNA and parts of ribosomes are made.</u></div>
</div>

When cells are about to split, the chromosomes bind together tightly.
Otherwise, they are loosely bound together and you can't tell which DNA and proteins come from which chromosome
