<style type="text/css" media="screen">
.card {
    border: solid black;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
}
img {
    max-width: 7cm;
    display: block;
}
</style>
<!--8.1-->
<div class="card">
<div class="front">metabolism</div>
<div class="back">All of the chemical reactions that an organism does to stay alive.

</div>
</div>

<div class="card">
<div class="front">metabolic pathway</div>
<div class="back">a sequence of steps (enzyme catalyzed reactions) which turns one substance into a final product.
<img src="../../media/metabolic_pathway.png">
</div>
</div>

<div class="card">
<div class="front">catabolic pathways, aka</div>
<div class="back">breakdown pathways</div>
</div>

<div class="card">
<div class="front">catabolic pathways</div>
<div class="back">metabolic pathways that release energy by breaking down big molecules into small ones

IMG: split https://s3-us-west-2.amazonaws.com/courses-images/wp-content/uploads/sites/110/2016/05/02235219/Figure_06_01_03.jpg

</div>
</div>

<div class="card">
<div class="front">major example of a catabolic pathway</div>
<div class="back">cellular respiration
https://ugc.berkeley.edu/wp-content/uploads/2018/06/chemistry-respiration-ugc.jpg
</div>
</div>

<div class="card">
<div class="front">anabolic pathways, aka</div>
<div class="back">biosynthetic pathways</div>
</div>

<div class="card">
<div class="front">anabolic pathways</div>
<div class="back">metabolic pathways that consume energy to assemble small molecules into big ones.

split pic above
</div>
</div>

<div class="card">
<div class="front">major example of an anabolic pathway</div>
<div class="back">assembling amino acids into proteins
https://cdn-addjh.nitrocdn.com/BzukxzxIDWSkBjOuXIuFVkjjEriFmqlw/assets/static/optimized/rev-bffe868/wp-content/uploads/2019/10/Polypeptide-Sequences.png
</div>
</div>

<div class="card">
<div class="front">thermodynamics</div>
<div class="back">the study of relations between heat, work, temperature, and energy. the study of energy transformations. the study of heat.</div>
</div>

<div class="card">
<div class="front">first law of thermodynamics</div>
<div class="back">energy cannot be created or destroyed, only transferred (conservation of energy)</div>
</div>

<div class="card">
<div class="front">entropy</div>
<div class="back">a measure of disorder. the more randomly arranged matter is, the greater its entropy. "a measure of the amount of energy that is unavailable to do work in a closed system"
-&gt; "a measure of how much energy can't do work"

https://i.pinimg.com/736x/81/5b/92/815b924aac3e82241f77306b63386543.jpg
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqocYM5z-EY7PHex7q8wVGfD2xHF8D1lBk8F0EtA3cM7K4hn0SzzRC4fYz6quQ68sL798&usqp=CAU
</div>
</div>

<div class="card">
<div class="front">second law of thermodynamics</div>
<div class="back">every energy transfer increases entropy</div>
</div>

<div class="card">
<div class="front">spontaneous reactions</div>
<div class="back">reactions that happen on their own, without additional energy, since they increase entropy
https://s3.amazonaws.com/external_clips/attachments/1653497/original/Rust.png?1516076136
</div>
</div>

<div class="card">
<div class="front">nonspontaneous reactions</div>
<div class="back">reactions that don't happen on their own, and need additional energy, since they decrease entropy
https://concept-stories.s3.ap-south-1.amazonaws.com/test/Stories%20-%20Images_story_6002/image_2019-03-15%2006%3A46%3A51.634676%2B00%3A00
</div>
</div>

<div class="card">
<div class="front">If entropy must increase, how do organisms stay orderly?</div>
<div class="back">They offset their orderlyness by disordering stuff in their surroundings (taking in big stuff like glucose and releasing small stuff like CO<sub>2</sub> and H<sub>2</sub>0)</div>
</div>

<div class="card">
<div class="front">catabolic vs anabolic: which releases energy</div>
<div class="back">catabolic (pic)</div>
</div>

<div class="card">
<div class="front">catabolic vs anabolic: which consumes energy</div>
<div class="back">anabolic (pic)</div>
</div>

<div class="card">
<div class="front">major example of spontaneous reaction</div>
<div class="back">combustion (sc pic, propane activation energy pic)</div>
</div>

<div class="card">
<div class="front">major example of nonspontaneous reaction</div>
<div class="back">car rusting (pic)</div>
</div>

<div class="card">
<div class="front">where do molecules store energy?</div>
<div class="back">in their bonds</div>
</div>

<!--8.2-->

<!--moleculs with bonds = high pe-->
<!--how much energy is available-->
exergonic reactions: reactions that release energy. energy of reactants -&gt; energy of products + energy released
endergonic reactions: reactions that require energy. energy of reactants + energy consumed -&gt; energy of products
what does the magnitude of $\Delta G$ for an exergonic reaction represent?: the maximum amount of work a reaction can perform
breaking bonds (takes / releases) energy: takes
creating bonds (takes / releases) energy: releases
<!--organisms use exergonic reactions tto provide energy for endergonic reactions-->
<!--second law of thermodynamics: closed systems tend towrands disorder (maximum entropy)-->
<!--closed systems: no energy comes in or out of the system, vs open system, where energy comes in and out to/from surroundings-->
<!--in atp, the three phosphate groups are all negative, so they repell each other and want to leave-->
<!--tut:-->
<!--- ?: where does the hydrogen come from for ATP hydrolysis-->
<!--- ?: kinase and phosphatase on and off-->

?: $+ \Delta S \iff $ spontaneous

<!--can couple energy: release energy with exergonic to use for endergonic-->
<!--catalysts increases the rate of chemical reactions by lowering the activation energy, and are reusable-->

<div class="card">
<div class="front">free energy</div>
<div class="back">the portion of a system's energy that can perform work (when temperature and pressure are uniform throughout the system, like in a cell).</div>
</div>

entropy: the portion of a system's energy that can't perform work

<!--<div class="card">-->
<!--<div class="front">how can we tell whether or not a reaction occurs spontaneously?</div>-->
<!--<div class="back">look at the free-energy change.-->
<!--?: spontaneous reactions increase entropy, so they decrease free-energy.-->
<!--</div>-->
<!--</div>-->

check to make sure correct

free energy equation: $\Delta G = \Delta H - T \Delta S$, G = free energy, H = enthalpy (total energy, energy stored in bonds), S = entropy, T = temperature (K)
free energy equation in words: the change in total energy is equal to the change in free energy plus the change in entropy
enthalpy: $H = E + PV$ total energy in a system plus pressure times volume
what does enthalpy mean in biology?: The total energy in a system. it is stored in bonds.
avery: enthalpy: the total energy that is transferred during the reaction; everything absorbed or released by the reactants to get the products
avery: gibbs free energy: (a function that measures) the amount of free energy that's able to do work
what is the change in enthalpy in biology?: the difference in bond energies between the products and reactants


what is $\Delta H$ in the free energy equation?: change in enthalpy (total energy)
what does a positive $\Delta H$ mean in a reaction?: Products have more energy than reactants, so energy is absorbed.
what does a negative $\Delta H$ mean in a reaction?: Products have less energy than reactants, so energy is released.
what is $\Delta S$ in the free energy equation?: change in entropy
what does a positive $\Delta S$ mean in a reaction?: The system becomes more disordered (like when a large molecule splits into many small ones)
what does a negative $\Delta S$ mean in a reaction?: The system becomes more ordered
how does temperature impact the free energy equation?: higher temperature leads to the $\Delta S$ term being more impactful relative to the $\Delta H$ term.
what is $\Delta G$ in the free energy equation?: change in free energy
what does a positive $\Delta G$ mean in a reaction?: The reaction <u>consumes energy</u>, so they do need an energy input to happen, so they are <u>non-spontaneous</u>
what does a negative $\Delta G$ mean in a reaction?: The reaction <u>releases energy</u>, so they don't need an energy input to happen, so they are <u>spontaneous</u>

Products have more energy than reactants. What does that tell us about the free energy equation variables?: positive $\Delta H$
...

standard free energy change: the standard free energy change $\Delta G ^\circ '$ of a chemical reaction is <u>the amount of energy released by the reaction under standard conditions</u>
standard conditions (of biochemical reactions): 25 $^\circ$, 1 M concentrations of substances, 1 atm pressure, pH of 7.0
<!--what <u>conditions</u> affect the change in <u>free energy</u> $\Delta G$ of a reaction?: temperature, concentration of reactants and products, pressure, pH-->
<!--why is it important that conditions affect the change in free energy of a reaction?: So cells can manipulate those conditions to avoid reaching equillibrium-->
chemical equilibrium: forward and reverse reactions happen at the same rate, and concentration of reactants and products won't change
what would happen if a cell's reactions reached equillibruim?: there would be no (lowest possible?) free energy left to do work, so it would die
examples of cells manipulating conditions to avoid reaching equilibrium: use energy to import reactant molecules to keep their concentration high, use energy to export product molecules to keep their concentrations low, make metabolic pathways (don't understand: so they can "push" and "pull" each other)
what is more stable, high G or low G: low G, more entropy, closer to equilibrium
a process is spontaneous and can perform work only when it is _____: moving toward equilibrium.

<!--ch8.3-->

<div class="card">
<div class="front">energy coupling</div>
<div class="back">using an exergonic process to drive an endergonic one.</div>
</div>
<img src="../../media/energy_coupling.png">

<div class="card">
<div class="front">what types of work do cells do?</div>
<div class="back">do endergonic reactions, do active transport, move itself (like muscle cells contracting)</div>
</div>

<div class="card">
<div class="front">what powers cell work?</div>
<div class="back">ATP</div>
</div>

<div class="card">
<div class="front">what is ATP made of?</div>
<div class="back">the sugar ribose, the nitrogenous base adenine, and three phosphate groups
<img src="../../media/ATP.png">
</div>
</div>

<div class="card" id="9fe7d8af33284f1290bdae6409ccf096">
<div class="front">How can you break the bond between ATP's phosphate groups?</div>
<div class="back">hydrolysis
<img src="../../media/ATP_hydrolysis.png">
</div>
</div>

<div class="card" id="d6f2fda6a15e426cb3a668001b5f1075">
<div class="front">How does ATP release energy?</div>
<div class="back">hydrolysis
<img src="../../media/ATP_hydrolysis.png">
</div>
</div>

<div class="card" id="e67d599fd6804403809ee88f96ac136d">
<div class="front">ATP hydrolysis formula</div>
<div class="back">ATP + H<sub>2</sub>O -&gt; ADP + P + energy
<img src="../../media/ATP_hydrolysis.png">
</div>
</div> 

<div class="card" id="8d3a5ecd69974fa98249ccda3ed27ca5">
<div class="front">Where does the release of energy during ATP hydrolysis come from?</div>
<div class="back"><u>The system having less free energy than before</u> (- $\Delta G$) because - $\Delta H$ and $+ \Delta S$ (not the phosphate bonds themselves)</div>
</div>

<div class="card" id="3e743a2486654299a69d2c4a40dca02f">
<div class="front">Why does ATP losing a phosphate group release so much energy?</div>
<div class="back">ATP holds together 3 negative groups who want to leave. like a compressed spring</div>
</div>

<div class="card" id="2ac049f573e24c8e9f297feab781edcd">
<div class="front">Why doesn't glutamine synthesis happen on its own?
<img src="../../media/glutamine_synthesis.png">
</div>
<div class="back">It is endergonic ($+ \Delta G$)</div>
</div>

<div class="card" id="2e6d0281ed434b4d8c8147506a7a406c">
<div class="front">phosphorylation</div>
<div class="back">attatching an ATP's phosphate group to another molecule, like a reactant
<img src="../../media/phosphorylation.png">
</div>
</div>

<div class="card" id="c6e3f35307174a7b841ac9cc396fdec9">
<div class="front">phosphorylated intermediate</div>
<div class="back">the molecule that bonds with an ATP's phosphate group, so it becomes more reactive
<img src="../../media/phosphorylation.png">
</div>
</div>

<div class="card" id="9d6db676faa8450aa55f76a53f2f9fce">
<div class="front">Where does the free energy to power endergonic reactions (like ATP synthesis) come from?</div>
<div class="back"><u>Catabolic (exergonic) pathways</u> like cellular respiration</div>
</div>

<div class="card" id="12289c7d29e24465843404218afbdb81">
<div class="front">How does ATP typically transfer energy from an exergonic to an endergonic reaction in the cell?</div>
<div class="back">phosphorylation, where one of its phosphate groups bonds with a reactant to give it more free energy and thus make it more reactive</div>
</div>

<!--ch8.4-->
<div class="card" id="6041d958175d4fa3956e7d5703374af5">
<div class="front">enzyme</div>
<!--<div class="back">a macromolecule that is a catalyst</div>-->
<div class="back">a biological catalyst</div>
</div>

<div class="card" id="e342da08ac5e48598002e4342d83dbee">
<div class="front">catalyst</div>
<div class="back">something that <u>speeds up</u> a reaction <u>without being consumed</u> by that reaction</div>
</div>

<div class="card" id="9ac3a9f0e81b4d7a9a035a2b9a1ca9b6">
<div class="front">substrate</div>
<div class="back">the thing that an enzyme binds to <small>and acts on</small></div>
<img src="../../media/substrate.png">
</div>

<div class="card" id="08a9f57ef75147cfa5745ad47fa36945">
<div class="front">active site</div>
<div class="back">the place on the enzyme that the substrate binds to
<img src="../../media/substrate.png">
</div>
</div>

<div class="card" id="e59e391376064d6cb6a21d19f09a3fd7">
<div class="front">enzyme-substrate complex</div>
<div class="back">the enzyme and the substrate connected to each other
<img src="../../media/substrate.png">
</div>
</div>

<div class="card" id="086824292d404c308eb7ff8ccb304887">
<div class="front">how does an enzyme know how to only bind with a specific substrate?</div>
<div class="back">the shape of the protein</div>
</div>

<div class="card" id="898afe7b5a054bb680b1f847d78535c3">
<div class="front">induced fit</div>
<div class="back">an enzyme tightens its bond with a substrate after initial contact</div>
</div>

<div class="card" id="3f24f3a1609444e880727881fe80cc0c">
<div class="front">How do enzymes hold substrates in the active site?</div>
<div class="back">weak interactions like hydrogen bonds and ionic bonds</div>
</div>

<div class="card" id="72d0197ac2ef4940963e76b320038fb1">
<div class="front">what <u>metric</u> do enzymes change to speed up a reaction</div>
<div class="back">they lower the <u>activation energy</u> of a reaction</div>
</div>

<div class="card" id="b719d78f150d4f50808fee3ef50ab166">
<div class="front">how do enzymes decrease the activation energy of a reaction</div>
<div class="back">
<ul>
    <li>they put the substrates together in the <u>proper orientation</u></li>
    <li>they stretch the substrates into their <u>transition state</u></li>
    <li>they <small>may</small> provide an <u>environment with better conditions</u> than the solution (like the right acidity)</li>
    <li>they <small>might</small> have <u>amino acids</u> that bond with the substrates to help the reaction</li>
</ul>
</div>
</div>

<div class="card" id="a310d64610c740f38e95a0f82bd1b290">
<div class="front">how does the <u>concentration of substrate</u> affect the reaction rate?</div>
<div class="back">more substrate means more reactions, until all of the enzymes are occupied at all times</div>
</div>

<div class="card" id="8da1915958d741408aa346a6686799ca">
<div class="front">saturated enzymes</div>
<div class="back">when all enzymes are occupied at all times, so the moment that substrate leaves, another one enters (like a busy row of porta potties)</div>
</div>

<div class="card" id="78edbae2bd7d4cf18574e07b3388410f">
<div class="front">how does <u>temperature</u> affect enzymes?</div>
<div class="back">more temperature increases then decreases the reaction rate. substrates move faster and <u>collide</u> with active sites more, then it gets so hot that the <u>bonds</u> holding the substrates break and the enzyme denatures</div>
</div>

environmental factors which affect enzymes: temperature, pH, cofactors

<!--enzymes notes-->
reaction rate: the speed that a chemical reaction happens
activation energy: the amount of energy that must be added to the reactants to start the chemical reaction
cofactors: substances that help enzymes speed up chemical reactions
types of cofactors: inorganic, organic
majority of inorganic cofactors: metal ions, which are cations
where do metal ion cofactors usually bind?: active site
organic cofactors, aka: coenzymes
what are many organic cofactors made of?: vitamins
most common non-vitamin coenzyme: ATP
kinases: enzymes that add phosphate groups (from ATP) to proteins.
inhibitors: chemical substances that reduce enzyme activity
types of inhibitors: competitive, non-competitive
competitive inhibitors: bind to the active site and stop substrates from binding to active site. competitive = blocks the active site
<img src="../../media/competitive_inhibition.png">
types of competitive inhibitors: reversible, irreversible
reversible inhibitor: when the effect of the inhibitor can be reversed by adding more substrate
how to reverse a reversible inhibitor: add more substrate so the enzymes bind with that instead of inhibitors
irreversible inhibitor: when the inhibitor binds tightly to the active site and doesn't leave. adding more substrate won't speed up the reaction rate
non-competitive inhibitors: substances that stop the enzyme from working but don't stop the reactants from binding to the active site, since they bind to places other than the active site
<img src="../../media/noncompetitive_inhibition.png">
how do non-competitive inhibitors stop the enzyme from working?: they change the shape of the active site

how does cyanide work?: It is a non-competitive inhibitor that stops an enzyme used in cellular respiration

allosteric regulation: when a molecule regulates an enzyme by binding to it somewhere other than its active site
types of enzyme regulation: increase enzyme activity (activation), decrease enzyme activity (inhibition)
are allosteric inhibitors competitive or non-cometitive: they don't compete with the substrate for the active site, so they are non-competitive
<div class="card" id="4faad34ac67541b8b1f2b706c46714e3">
<div class="front">enzymes that are allosterically regulated move back and fourth between _____.</div>
<div class="back">Being in an <u>active and inactive form</u>
<img src="../../media/active_inactive_form.png">
</div>
</div>

<div class="card" id="b4c4464495a5416d8bbe5d8e453ed209">
<div class="front">structure of <small>most</small>enzymes that are allosterically regulated</div>
<div class="back">made of multiple subunits, each with their own active site.
<img src="../../media/active_inactive_form.png">
</div>
</div>

<div class="card" id="6c1c6f5d992647a39c4e11ce6ddaf8a5">
<div class="front">what happens when an activator binds to an allosterically regulated enzyme?</div>
<div class="back">it stabilizes the enzyme's active form, and all subunits stay active
<img src="../../media/activator_inhibitor.png">
</div>
</div>

<div class="card" id="6c1c6f5d992647a39c4e11ce6ddaf8a5">
<div class="front">what happens when an inhibitor binds to an allosterically regulated enzyme?</div>
<div class="back">it stabilizes the enzyme's inactive form, and all subunits stay inactive
<img src="../../media/activator_inhibitor.png">
</div>
</div>

<div class="card" id="04c56fb587774325a13422bd325f3698">
<div class="front">ATP feedback inhibition</div>
<div class="back">
<ol>
    <li>catabolic reactions release energy which is then used to rebuild ATP. more catabolic reactions -&gt; more ATP</li>
    <li>ATP inhibits catabolic enzymes. too much ATP -&gt; less catabolic reactions</li>
    <li>ADP (which piles up when ATP is running low) activates catabolic enzymes. not enough ATP &amp; too much ADP -&gt; more catabolic reactions -&gt; more ATP</li>
    <li>more catabolism -&gt; more ATP, less ADP -&gt; less catabolism -&gt; less ATP, more ADP -&gt; more catabolism</li>
</ol>
    </div>
</div>

<div class="card" id="e9d3078db8a845a89321aceb16db5e33">
<div class="front">cooperativity (allosteric regulation)</div>
<div class="back">a substrate binds to one subunit, which then activates every subunit
<img src="../../media/cooperativity.png">
</div>
</div>

<div class="card" id="f2237e859ac049f9bc5bbdd58f847c37">
<div class="front">feedback inhibition</div>
<div class="back">when the end product of a metabolic pathway inhibits itself. negative feedback loop</div>
</div>

difference between competitive and non-competitive inhibitor: increasing the concentration of substrate increases the reaction rate for competitive inhibitors but not non-competitive inhibitors.

enzymes in stomach: pepsin
pepsin: enzyme in stomach, breaks down proteins, requires low pH
enzymes in small intestine: protease, lipase, carbohydrase
protease: enzyme in small intestine, breaks down proteins
lipase: enzyme in small intestine, breaks down lipids
carbohydrase: enzyme in small intestine, breaks down carbohydrates


speed up reaction rate: increase enzymes, remove inhibitors, add activators, slightly increase tempeature, increase reactants
