<!--ch 9.1: Catabolic pathways yield energy by oxidizing organic fuels-->

<div class="card" id="8b8c916e8ce041ca9c0dcbf6d60963d4">
<div class="front">how do organic compounds have potential energy?</div>
<div class="back">the arrangement of electons in their bonds</div>
</div>

<div class="card" id="3844618356e044e0bf8f2f52ea81aa59">
<div class="front">fermentation</div>
<div class="back">the partial degradation of sugars or other organic fuel without using oxygen
<img src="../../media/fig9p16.png">
</div>
</div>

<div class="card" id="c121f8145dcf4eb2b45e6271c5cbda10">
<div class="front">aerobic respiration</div>
<div class="back">the partial degradation of sugars or other organic fuel using oxygen</div>
</div>

<!-- "the partial degradation of sugars or other organic fuel" -> "breaking down organic fuel like sugars" -->

<div class="card" id="b44fa64c668644e9a418927fdf7db43c">
<div class="front">most efficient catabolic pathway</div>
<div class="back">aerobic respiration</div>
</div>

<!--correct?-->
<div class="card" id="2dfd71784bfd46d7a5baf0b926000a6c">
<div class="front">cellular respiration</div>
<div class="back">breaking down sugar (or other organic fuel) (with or without oxygen) to release energy needed to rebuild ATP

note: used synonymously with aerobic respiration
</div>
</div>

<div class="card" id="81a992d39d3740d4896ffd0de5e369df">
<div class="front">why is it important that cellular respiration is exergonic?</div>
<div class="back">it releases energy which is then used to rebuild ATP</div>
</div>

<div class="card" id="905553dff8bb40239d6e70d996c0c3e1">
<div class="front">anarobic respiration</div>
<div class="back">breaking down sugar without oxygen <small>note: it is much more like aerobic respiration than fermentation</small></div>
</div>

<div class="card" id="9192aadd5b494bde90d1e7014c0b6c6a">
<div class="front">cellular respiration equation</div>
<div class="back">organic compounds + oxygen $\rightarrow$ carbon dioxide + water + energy</div>
</div>

<div class="card" id="6550ff49fb21417ba687552c3bdb78d2">
<div class="front">redox reactions</div>
<div class="back">reactions where electrons transfer from one reactant to another</div>
</div>

<div class="card" id="07bca44e28e74bd59c2cdc747b8623ec">
<div class="front">oxidation</div>
<div class="back">the loss of electrons from a substance</div>
</div>

<div class="card" id="bce80d28add649ea9d93273a6aea9ac0">
<div class="front">reduction</div>
<div class="back">the addition of electrons to a substance <<small>adding electrons to an atom <u>reduces</u> the charge of that atom</small></div>
</div>

<div class="card" id="20f3af559aea4ba09ff9da76b511e07c">
<div class="front">reducing agent</div>
<div class="back">the electron donor. the reactant which loses electron(s). it reduces the other reactant by giving it electron(s)</div>
</div>

<div class="card" id="78eeb41f9f8a4b00948d13bc607cb695">
<div class="front">oxidizing agent</div>
<div class="back">the electron acceptor. the reactant which gains electron(s). it oxidizes the other reactant by taking its electron(s)</div>
</div>

redox reactions can also move electrons around in covalent bonds. electrons in a covalent bond can move closer or father away from certain molecules

<div class="card" id="00eff9b0b9f346b3ac4c333deef17939">
<div class="front">why is it good that cellular respiration doesn't happen too fast?</div>
<div class="back">So it can release energy over a long period of time instead of in one bang.

<img src="../../media/fig9p4.png">
</div>
</div>

<div class="card" id="39f742fa584245f7ac8c57d109f7cc04">
<div class="front">Cellular respiration: Where is the ETC?</div>
<div class="back">On the inner membrane of mitochondria</div>
</div>

<div class="card" id="6928bde204754a31b4281acaa66a45c1">
<div class="front">Cellular respiration: What pulls electrons down the ETC?</div>
<div class="back">Oxygen</div>
</div>

<div class="card" id="fa1bdde610e744fe875fcd59843c42d8">
<div class="front">Cellular respiration: What is the ETC?</div>
<div class="back">The electron transport chain is a series of redox reactions which move electrons from NADH and FADH<sub>2</sub> to O<sub>2</sub>. These reactions release energy, which is used to pump hydrogen ions against their concentration gradient from the mitochondrial matrix to the intermembrane space.
<img src="../../media/fig9p14.png">
</div>
</div>

<div class="card" id="a1e65cae7ad84f0b86ffc9ae20801f3b">
<div class="front">Why does the ETC transport electrons?</div>
<div class="back">To get energy to pump hydrogen ions across the membrane.
<img src="../../media/fig9p14.png">
</div>
</div>

<div class="card" id="65c640d6e4f941c991d17eb70fd57acf">
<div class="front">Chemiosmosis</div>
<div class="back">Hydrogen ions diffuse <small>from the inner membrane to the mitochondrial matrix</small> through ATP synthase, <small>the enzyme which rebuilds ATP</small>
<img src="../../media/fig9p14.png">
</div>
</div>

<div class="card" id="c6b048c7462541f0baa72e12375823ab">
<div class="front">oxidative phosphorylation</div>
<div class="back">ETC and chemiosmosis</div>
</div>

ETC, aka electron transport chain

<div class="card" id="09566fd551ac433aa44927beabc1a5fc">
<div class="front">Name of electron carriers in cellular respiration</div>
<div class="back">NADH and FADH<sub>2</sub></div>
</div>

<div class="card" id="157e7b56b4e5412ba9fb19a3bebbbecf">
<div class="front">path of electrons in cellular respiration</div>
<div class="back">Glucose $\rightarrow$ electron carriers $\rightarrow$ ETC $\rightarrow$ oxygen</div>
</div>

<div class="card" id="b6b46cd56ca64e79a7296dad43d0cfad">
<div class="front">Is cellular respiration endergonic or exergonic? Why is it important that it is that way?</div>
<div class="back">Exergonic, because it releases energy. It is important because it makes energy (ATP), so if it needed energy it would be a Catch-22.</div>
</div>

<div class="card" id="a221f58f2df44473a0ba6f109f2288f4">
<div class="front">steps of cellular respiration</div>
<div class="back">glycolysis, link reaction, citric acid cycle, ETC, chemiosmosis
<img src="../../media/fig9p5.png">
</div>
</div>

<div class="card" id="bd45ffe8cb074a21b1d2061ff0eb2621">
<div class="front">where is glycolysis</div>
<div class="back">cytoplasm</div>
</div>

<div class="card" id="ed2ca85a25d740ae8776d51424cc1d91">
<div class="front">what does glycolysis do?</div>
<div class="back">turn 1 glucose into 2 pyruvate, rebuild 2 ATP and 2 NADH</div>
</div>

<div class="card" id="b9253fb02d72424bb2575b525735a743">
<div class="front">what happens to the pyruvate molecules from glycolysis</div>
<div class="back">turns into Acetyl CoA in the link reaction</div>
</div>

<div class="card" id="4dec0cbbb0eb46f180fd346fd09cf973">
<div class="front">what happens to the Acetyl Coa made by the link reaction?</div>
<div class="back">It goes to the citric acid cycle, where electron carriers take its electrons</div>
</div>

<div class="card" id="e261695ce4344916ac477ba1faa3faa7">
<div class="front">cellular respiration: purpose of substrate level and oxidative phosphorylation</div>
<div class="back">make ATP</div>
</div>

<!--???-->
<div class="card" id="57dc59d71a50488e8d29bce2a1cf8382">
<div class="front">oxidative phosphorylation</div>
<div class="back">ETC + chemiosmosis. rebuilds ATP using the energy from ETC</div>
</div>

<!--???-->
<div class="card" id="49fa4740197443e997b14fa9d9d23aa6">
<div class="front">substrate level phosphorylation</div>
<div class="back">rebuilding ATP using phosphate groups from substrates <small>, which can come from breakng down glucose</small>

f9.6, 9.8 steps 7 and 10
</div>
</div>

<div class="card" id="f8e4d53d369b401a95ad9adac4d18137">
<div class="front">biproduct of oxidative phosphorylation</div>
<div class="back">H<sub>2</sub>O <img src="../../media/fig9p14.png"></div>
</div>

<div class="card" id="d66a3dd816ac4407a3d05256c697295d">
<div class="front">biproduct of glycolysis</div>
<div class="back">H2O <img src="../../media/fig9p7.png"></div>
</div>

<div class="card" id="cf43e558334d4e3db6f2f0679606810b">
<div class="front">biproduct of link reaction</div>
<div class="back">CO2 <img src="../../media/fig9p10.png"></div>
</div>

<div class="card" id="cf43e558334d4e3db6f2f0679606810b">
<div class="front">biproduct of citric acid cycle</div>
<div class="back">CO2 <img src="../../media/fig9p10.png"></div>
</div>

is "phosphorylation" just a general term for adding phosphate groups to things

<div class="card" id="63365299431e4eb681f2c4fdf47c064d">
<div class="front">cellular respiration: amount of ATP made at each step</div>
<div class="back">
glycolysis: 2 ATP, link reaction: 0 ATP, citric acid cycle: 2 ATP, oxidative phosphorylation: 26 or 28 ATP
<img src="../../media/fig9p15.png">
</div>
</div>

<div class="card" id="d5740bd886234434a43e87af6afe4e06">
<div class="front">aerobic vs anaerobic respiration (similarities and differences)</div>
<div class="back">only difference is that the final electron acceptor for anaerobic respiration is not O<sub>2</sub>.</div>
</div>

<div class="card" id="1b139f899de442ef8ec98a814ddb4770">
<div class="front">main inputs and outputs of glycolysis</div>
<div class="back">1 glucose, 2 ATP, 2 NAD+ $\rightarrow$ 2 pyruvate, 4 ATP (net 2), 2 NADH, 2 H2O
<img src="../../media/fig9p7.png">
</div>
</div>

<div class="card" id="ab850f5e0dfb4445acd4c9b2a5e997d9">
<div class="front">does the presence of O2 affect whether glycolysis happens?</div>
<div class="back">no, it happens either way</div>
</div>

<div class="card" id="faf7e24aa818427da869949f94cf8d0a">
<div class="front">how does the presence of O2 affect glycolysis?</div>
<div class="back">it doesn't. if O2 is present, the next steps (of aerobic respiration) can continue.</div>
</div>

<div class="card" id="c212c115e98c40a29817c3b74d5a9a51">
<div class="front">where is the link reaction</div>
<div class="back">in mitochondria
<img src="../../media/fig9p9.png">
</div>
</div>

<div class="card" id="06804a2211214a5c908a3ce70d139114">
<div class="front">how does pyruvate enter the mitochondria</div>
<div class="back">active transport
<img src="../../media/fig9p9.png">
</div>
</div>

<div class="card" id="4aef6858ac834e7e9fecae6c68d15357">
<div class="front">what happens to the 3 cardon atoms of pyruvate during the link creation and citric acid cycle?</div>
<div class="back">They are split up and released as CO2.
<img src="../../media/fig9p10.png">
</div>
</div>

<div class="card" id="7556899a30ad446298ea6bb28229b8dc">
<div class="front">main inputs and outputs of the link reaction</div>
<div class="back">1 pyruvate, 1 CoA, 1 NAD+ $\rightarrow$ 1 Acetyl CoA, 1 CO2, NADH
<img src="../../media/fig9p9.png">
</div>
</div>

<div class="card" id="a94196006ea04ca9a3ef66938b008d52">
<div class="front">What is Acetyl CoA used for in the citric acid cycle?</div>
<div class="back">rebuilds 1 ATP and gives electrons to electron carriers
<img src="../../media/fig9p10.png">
</div>
</div>

<div class="card" id="556062174e6e4bccb004732a0eeacf34">
<div class="front">Where does the ETC get electrons?</div>
<div class="back">from NADH and FADH2 from the CAC</div>
</div>

<!--important-->
<div class="card" id="f3839fc663c349c08e43e970a9c0c04b">
<div class="front">main inputs and outputs of (one turn of) the citric acid cycle</div>
<div class="back">1 Acetyl CoA $\rightarrow$ 3 NADH, 1 FADH2, 1 ATP, 2 CO2
<img src="../../media/fig9p10.png">
</div>
</div>
<!--where do the light reactions get electrons: H2O-->

<div class="card" id="f6cc13df32294809baa616323f7efc87">
<div class="front">what stages of cellular respiration does substrate level phosphorylation happen?</div>
<div class="back">glycolysis, citric acid cycle</div>
</div>

<!--9.4-->

<div class="card" id="81263ec433744bfca44091c9b54668d7">
<div class="front">In the ETC, what molecule has the lowest affinity for electrons</div>
<div class="back">NADH
<img src="../../media/fig9p12.png">
</div>
</div>

<div class="card" id="c1ed155ecd644961b147ad9e3168ff15">
<div class="front">In the ETC, what molecule has the highest affinity for electrons?</div>
<div class="back">O2
<img src="../../media/fig9p12.png">
</div>
</div>

<div class="card" id="04843d5bc5e2405a83ff003122c14f94">
<div class="front">How do electrons move across the ETC?</div>
<div class="back">From an electron carrier with a lower affinity for electrons to an electron carrier with a higher affinity for electrons.
<img src="../../media/fig9p12.png">
</div>
</div>

<div class="card" id="1d715a5f25294685b607a7dd3f04c616">
<div class="front">CR/ETC: What happens when electrons move from an electron carrier with a lower affinity for electrons to one with a higher affinity?</div>
<div class="back">Free energy is released
<img src="../../media/fig9p12.png">
</div>
</div>

<div class="card" id="e7462038d46344a1b97b117219a850f0">
<div class="front">Why is it important that free energy is released from the ETC?</div>
<div class="back">Energy is needed to pump hydrogen ions, which are then used by ATP synthase to rebuild ATP
<img src="../../media/fig9p12.png">
</div>
</div>

<div class="card" id="4817e2e549224bd2a280aefc74de04f7">
<div class="front">How are ion pumps and ATP synthase inverses of each other?</div>
<div class="back">Ion pumps split ATP to move ions against their concentration gradient, ATP synthase uses ions moving down their concenttration gradients to rebuild ATP</div>
</div>

<div class="card" id="5c0b5337a8e845299f8cfbb0ab875bba">
<div class="front">definition of chemiosmosis</div>
<div class="back">when energy stored in the form of a hydrogen ion gradient across a membrane is used to drive cellular work (such as the synthesis of ATP)</div>
</div>

<div class="card" id="4b53cad65f604fa9ad97d05f62fcec2a">
<div class="front">Cellular respiration / oxidative phosphorylation: What do the protein complexes of electron carriers do?</div>
<div class="back">Use energy from redox reactions to pump hydrogen ions across the membrane
<img src="../../media/fig9p14.png">
</div>
</div>

<div class="card" id="830c7a9fb75b4f1e994a7e602c0546b1">
<div class="front">proton-motive force</div>
<div class="back">the hydrogen ion gradient made when hydrogen ions are pumped from low to high concentration in the mitochondria . this gradient can do worhk</div>
</div>

<div class="card" id="439f0418eda540abaa812d4836719224">
<div class="front">How would an absense of O2 affect the ETC?</div>
<div class="back">No O2 -> no "pull" of electrons down ETC -> no ATP from oxidative phosphorylation</div>
</div>

<!--9.5-->
<div class="card" id="ec1140c16638400291d50d717c2e1786">
<div class="front">Ways to generate ATP without O2</div>
<div class="back">Anaerobic respiration and fermentation</div>
</div>

<!--is this true?-->
<!--how about "fermentation is glycolysis + nad+ regeneration, anaerobic respiration is aerobic respiration but with a non-O2 final electron acceptor for ETC"-->
<div class="card" id="6791d630e957411bac52086da331dc57">
<div class="front">difference between anaerobic respiration and fermentation</div>
<div class="back">An ETC is used in anaerobic respiration but not fermentation</div>
</div>

<div class="card" id="e2aea311e97c4acfb27bf981801679d7">
<div class="front">why is O2 a good final electron acceptor for the ETC?</div>
<div class="back">Oxygen is very electronegative</div>
</div>

<div class="card" id="88f97aea546f4399986ad714ff736386">
<div class="front">fermentation</div>
<div class="back">glycolysis plus reactions that regenerate NAD+ (by transferring electrons from NADH to pyruvate or derivatives of pyruvate) so glycolysis can keep going
<img src="../../media/fig9p16.png">
</div>
</div>

<div class="card" id="0723703045ff4326808e12ae9300c762">
<div class="front">what differentiates types of fermentation</div>
<div class="back">the end products formed from pyruvate
<img src="../../media/fig9p16.png">
</div>
</div>

<div class="card" id="12a653ac4a564287b5db38a93b23fc64">
<div class="front">common types of fermentation</div>
<div class="back">alcohol fermentation, lactic acid fermentation
<img src="../../media/fig9p16.png">
</div>
</div>

<div class="card" id="72070c4729df4f6c97a7b342450ce2e6">
<div class="front">what accepts electrons from food during glycolysis?</div>
<div class="back">NAD+</div>
</div>

<div class="card" id="bfe1af330047442aa4a9e1a5328178f3">
<div class="front">what is the final electron acceptor for aerobic respiration | anaerobic respiration | fermentation?</div>
<div class="back">O2 | an electronegative molecule but not O2 | pyruvate or derivatives of pyruvate</div>
</div>

<div class="card" id="bbce8f5ed7ce4cfe800de850581f0387">
<div class="front">Why does fermentation regenerate NAD+ from NADH?</div>
<div class="back">So it can keep doing glycolysis to make ATP
<img src="../../media/fig9p16.png">
</div>
</div>

<div class="card" id="e4e0ff37ea8949dc8ba530e6d91f5029">
<div class="front">How does fermentation regenerate NAD+ from NADH?</div>
<div class="back">NADH gives its electron to pyruvate (or a derivative of pyruvate)
<img src="../../media/fig9p16.png">
</div>
</div>

<!--9.6-->
<!--not as thorough-->

<div class="card" id="f331872b67de4afd977e90b220a6661c">
<div class="front">feedback inhibition</div>
<div class="back">end product inhibits early enzyme/step</div>
</div>

<div class="card" id="5a6a332ed7d04376be9b7111dc02ff85">
<div class="front">Why are fats a better fuel than carbohydrates?</div>
<div class="back">Fats have C-H bonds, whose electrons are equally shared, so the bonds have more PE. Carbs have C-O bonds, whose electrons are unequally shared, and have less PE.</div>
</div>

<div class="card" id="5227e5495a494c519c50abb2e2052d0c">
<div class="front">Why does your body make fats?</div>
<div class="back">When you eat more than you need, so you save energy for later.</div>
</div>

<div class="card" id="6a378f61e681440fa48dc289f4ecc9d5">
<div class="front">Why is moderate exercise better at burning fat than intense exercise?</div>
<div class="back">Fatty acids are oxidated in the CAC, which only happens w oxygen</div>
</div>

important pictures
cellular respiration steps <img src="../../media/fig9p5.png">
glycolysis input output <img src="../../media/fig9p7.png">
link reaction and citric acid cycle diagram and input output <img src="../../media/fig9p10.png">
ETC and chemiosmosis <img src="../../media/fig9p14.png">
fermentation <img src="../../media/fig9p16.png">
