<!--I think acids and bases were from unit 2-->

<div class="card">
<div class="front">Acid (basic idea)</div>
<!--<div class="back">compounds that increase <u>proton</u> concentration in solutions</div>-->
<div class="back">compounds that increase the amount of <u>hydrogen ions</u> in a solution</div>
</div>

<div class="card">
<div class="front">Base (basic idea)</div>
<!--<div class="back">compounds that increase <u>hydroxide</u> concentration in solutions</div>-->
<div class="back">compounds that decrease the amount of <u>hydrogen ions</u> in a solution</div>
</div>

<div class="card">
<div class="front">Structural difference between deoxyribose sugar and ribose sugar</div>
<div class="back">Deoxyribose has a hydrogen (H) atom at position 2, Ribose has a hydroxyl (OH) group at position 2.
<img src="../../media/Deoxyribose-and-Ribose-Sugar.png">
</div>
</div>
