<!--From other sources-->
<div class="card">
<div class="front">United States vs Lopez (basic idea / significance)</div>
<div class="back">SCOTUS said the federal government couldn't use the Commerce Clause to regulate guns, it was a state responsibility.</div>
</div>

<!--Uncomment if correct-->
<!--<div class="card">-->
<!--<div class="front">McDonald vs Chicago (basic idea / significance)</div>-->
<!--<div class="back">Chicago's gun control was unconstitutional. It <u>(selectively) incorperated</u> a federal decision (District of Columbia vs Heller) to a states because the Fourteenth Amendment allows the court to (selectively) apply the Bill of Rights to the states.</div>-->
<!--</div>-->

<div class="card">
<div class="front">Treaties (who has what responsibilities)</div>
<div class="back">The President negotiates treaties, Congress ratifies them.</div>
</div>

<div class="card">
<div class="front">Express powers (basic idea)</div>
<div class="back">The powers of the Constitution that are <u>explicitly granted</u> to parts of the government (branches or people).</div>
</div>
