<div class="card">
<div class="front">Pressure (equation)</div>
<div class="back">$P = \frac{F}{A}$</div>
</div>

<div class="card">
<div class="front">Pressure at a depth in a fluid</div>
<div class="back">$P_D = \frac{F}{A} = \rho h g$</div>
</div>

<div class="card">
<div class="front">Specific gravity (basic idea)</div>
<div class="back">The specific gravity of an object is the density of that object divided by the density of water. The ratio between the density of an object and the density of water. How dense that object is, compared to water. $\frac{\rho_{\text{object}}}{\rho_{\text{water}}}$</div>
</div>

<div class="card">
<div class="front">Density of water</div>
<div class="back">997 kg/m^3</div>
</div>

<div class="card">
<div class="front">Specific gravity (use/importance)</div>
<div class="back">The specific gravity of an object is the fraction of the object that will be submerged in water. $\geq$ 1 means it will be fully submerged.
<img src="../../media/specific_gravity_fraction_submerged.png">
</div>
</div>

<div class="card">
<div class="front">Buoyant force (formula)</div>
<div class="back">$F_B = \rho V_{fd} g = m_{fd} g$, where $V_{fd}$ is the volume of the fluid displaced, which is equal to the volume of the object if it is completely submerged.</div>
</div>

<div class="card">
<div class="front">Buoyant force (where does it come from?)</div>
<div class="back">There is more pressure pushing an object up than pushing it up.

<img src="../../media/buoyant_force_greater_pressure_on_bottom.png">

<q cite="https://www.khanacademy.org/science/ap-physics-2/ap-fluids/ap-buoyant-force-and-archimedes-principle/a/buoyant-force-and-archimedes-principle-article">The bottom of an object is always deeper in a fluid than the top of the object, so the upward force from water has to be greater than the downward force from water.</q>
</div>
</div>

<div class="card">
<div class="front">Laminar flow (basic idea)</div>
<div class="back">When fluid particles are moving smoothly.
<img src="../../media/sed_laminar_flow.jpg">
</div>
</div>

<!--Uncomment if correct-->
<!--<div class="card">-->
<!--<div class="front">Volume flow rate (basic idea and formula)</div>-->
<!--<div class="back">The rate that liquid flows through a pipe. $Q = \frac{V}{T} = Av$</div>-->
<!--picture: https://cdn.kastatic.org/ka-perseus-images/192bc762371e7ad39794d88420831369a1ac0d7f.png -->
<!--</div>-->

<!--Uncomment if correct-->
<!--<div class="card">-->
<!--<div class="front">Equation of continuity (basic idea and formula)</div>-->
<!--<div class="back">Volume flow rate in equals volume flow rate out. $A_1 v_1 = A_2 v_2$</div>-->
<!--picture: https://cdn.kastatic.org/ka-perseus-images/1ed502672a1583ad6bb57e2c9fb380a9b024fc69.png-->
<!--</div>-->
